<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
    <mat-icon> sentiment_satisfied_alt</mat-icon>
    <a [routerLink]="['/Profil']" >
        <span>Profil</span>
      </a> 
    </button>
    <button mat-menu-item >
     <mat-icon>accessibility</mat-icon>
      <a [routerLink]="['']" >
        <span>Utilisateurs</span>
      </a>
    </button>
    
  </mat-menu>
  